# Database Connection
MONGODB_URI=MONGO_URI=mongodb+srv://akshansh496:040906@cluster0.ly8inv7.mongodb.net/Wanderlust?retryWrites=true&w=majority
DB_NAME=wanderlust

# Authentication Secrets
JWT_SECRET=yoursupersecretjwtstring

# Email Reset Configurations (Gmail SMTP)
# If using Gmail, set EMAIL_USER to your gmail and EMAIL_PASS to a Gmail "App Password" (2FA must be active)
EMAIL_USER=yguptaakshansh1@gmail.com
EMAIL_PASS=hbmqgsjzinxgcokb 

# Razorpay Payment Gateway Configurations
# Retrieve these from the Razorpay Dashboard (Settings -> API Keys) in Test Mode
RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxxxxxx
RAZORPAY_KEY_SECRET=yyyyyyyyyyyyyyyyyyyyyyyy

# Cloudinary Cloud Asset Storage Configurations
CLOUDINARY_CLOUD_NAME=dazzkysm7
CLOUDINARY_API_KEY=228461599659321
CLOUDINARY_API_SECRET=AQBShMMRbCnb6jOxhAS3buJo2xE
